<fieldset>
    <div class="form-group" ng-class="{ 'has-error': technologyForm.name.$dirty && technologyForm.name.$invalid }">
        <label class="control-label" for="title">Technology name</label>
        <div class="controls">
            <input name="name" type="text" data-ng-model="technology.name" id="name" class="form-control" placeholder="Name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea name="description" data-ng-model="technology.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="tags">Description</label>
        <div class="controls">
            <tags-input ng-model="technology.tags" name="tags" id="tags"></tags-input>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary">
    </div>

    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>

</fieldset>