<section data-ng-controller="TechnologiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="technology.name"></h1>
		<div class="pull-right">
			<a tooltip="Edit" href="/#!/technologies/{{technology._id}}/edit"><i class="glyphicon glyphicon-edit"></i></a> 
			<a tooltip="Remove" data-ng-click="remove();"><i class="glyphicon glyphicon-trash"></i></a>
		</div>
		<span data-ng-repeat="tag in technology.tags" class="label label-warning our_tags">
			{{tag}}
    	</span>			
	</div>

	<p class="lead" data-ng-bind="technology.description"></p>
	<section data-ng-init="findQuestions()">
		<div class="list-group">
        	<a data-ng-repeat="question in questions" data-ng-href="#!/technologies/{{technology._id}}/questions/{{question._id}}/edit" class="list-group-item">

				<h4 class="list-group-item-heading">
					{{question.name}}
					<small>[type: {{question.type}}]</small> 
					<small>[difficulty: {{question.difficulty}}]</small>
				</h4>

				<div ng-if= "question.type === 'multiple' || question.type === 'single'">
					Answers:
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="answer in question.answers">
							<span class="glyphicon glyphicon-ok" ng-if="answer.isItRight === true"></span> 
							<span class="glyphicon glyphicon-remove" ng-if="answer.isItRight === false"></span> 	
							{{answer.text}}
						</li>
					</ul>
				</div>
				<div ng-if= "question.type === 'keyword'">
					Keywords:
						<span class="label label-warning our_tags" ng-repeat="keyword in question.keywords"> 	
							{{keyword}}
						</span>
				</div>
        	</a>
	    </div>
	</section>
	<section>
		<a class="btn btn-warning btn-block" ng-href="/#!/technologies/{{technology._id}}/questions/create">
			 Add Question
		</a>		
	</section>
</section>
<br/>
