<section data-ng-controller="TechnologiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="technology.name"></h1>
		<span data-ng-repeat="tag in technology.tags" class="label label-default our_tags">
			{{tag}}
    	</span>			
	</div>
	<div class="pull-right">
		<a tooltip="Edit" class="btn btn-primary" href="/#!/technologies/{{technology._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a tooltip="Remove" class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		<a tooltip="Add question" class="btn btn-primary" ng-href="/#!/technologies/{{technology._id}}/questions/create">
			<i class="glyphicon glyphicon-plus"></i>
		</a>
	</div>

	<p class="lead" data-ng-bind="technology.description"></p>
	<section data-ng-init="findQuestions()">
		<div class="list-group">
        	<a data-ng-repeat="question in questions" data-ng-href="#!/technologies/{{technology._id}}/questions/{{question._id}}" class="list-group-item">

				<h4 class="list-group-item-heading" data-ng-bind="question.name"></h4>

				<div>
				Answers:
				<ul>
					<li ng-repeat="answer in question.answers">
						{{answer.text}} [
						<span ng-if="answer.isItRight === true">Right Answer</span>
						<span ng-if="answer.isItRight === false">Wrong Answer</span>
						]
					</li>
				</ul>
	</div>
        	</a>
	    </div>
	</section>
</section>
