<section data-ng-controller="TechnologiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="technology.name"></h1>
	</div>
	<div class="pull-right">
		<a tooltip="Edit" class="btn btn-primary" href="/#!/technologies/{{technology._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a tooltip="Remove" class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		<a tooltip="Add question" class="btn btn-primary" ng-href="/#!/technologies/{{technology._id}}/questions/create">
			<i class="glyphicon glyphicon-plus"></i>
		</a>
	</div>
	<p class="lead" data-ng-bind="technology.description"></p>
</section>