<section data-ng-controller="ExamsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="exam.name"></h1>
		<small>
			<em class="text-muted">
				Created
				<span data-ng-bind="exam.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="exam.user.displayName"></span>
			</em>
		</small>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == exam.user._id))">
		<a class="btn btn-primary" href="/#!/exams/{{exam._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

  <p>Technology: {{exam.technology.text}}</p>
  <div ng-repeat="question in exam.technology.questions">
    {{question.text}}
    <ul>
      <li ng-if="question.type != 'keywords'" ng-repeat="answer in question.answers">
        {{answer.text}}  
      </li>
      <li ng-if="question.type == 'keywords'" ng-repeat="keyword in
        question.keywords">
        {{keyword}} 
      </li>
    </ul>

  </div>

	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="exam.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="exam.user.displayName"></span>
		</em>
	</small>
</section>
